body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background: #e2e1e0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: white;
}
nav .card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
nav .leftside {
  display: flex;
  align-items: center;
}
nav .leftside .logo {
  width: 145px;
  margin: 7.5px 3px;
}
nav .leftside .logo.animate {
  display: none;
}
nav .rightside {
  display: flex;
  align-items: center;
}
nav .dropdowncont {
  display: flex;
  flex-wrap: wrap;
}
nav .dropdown {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}
nav .dropdown:hover,
nav .scorebarimg:hover,
nav .loop:hover,
nav .usercont {
  opacity: 0.8;
  cursor: pointer;
}
nav .sicon {
  height: 25px;
  padding-right: 4px;
  margin-left: 15px;
}
nav .xsicon {
  height: 20px;
  padding-left: 3px;
  padding-top: 3px;
}
nav .scorebarimg {
  height: 40px;
  margin: 3px 12px;
}
nav .usercont {
  display: flex;
  margin: 3px 12px;
}
nav .usericon {
  height: 40px;
}
nav .userxsicon {
  height: 20px;
  align-self: center;
  margin-left: -7px;
}
.logohamburger {
  padding: 24px;
  display: flex;
  margin-right: 24px;
  justify-content: space-between;
  align-items: center;
}
.menu-wrapper {
  width: 40px;
  height: 29px;
  cursor: pointer;
}
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 40px;
  height: 5px;
}
.hamburger-menu {
  position: relative;
  transform: translateY(12px);
  background: #3f6ad8;
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  background: #3f6ad8;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #3f6ad8;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
section {
  display: flex;
}
ul {
  list-style-type: none;
}
a {
  color: #b63b4d;
  text-decoration: none;
}
.sidemenubar {
  width: 230px;
  left: 0px;
  box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.8);
}
@keyframes example {
  to {
    width: 50px;
  }
  to ul {
    display: none;
  }
}
.sidemenubar.animate {
  animation-name: example;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.sidemenubar.animate hide {
  display: none;
}
.accordion {
  width: 100%;
  max-width: 230px;
  background: #FFF;
  border-radius: 4px;
}
.menuHeading {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  height: 21px;
  transition: all 0.4s ease;
}
.accordion li:last-child .link {
  border-bottom: 0;
}
.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  transition: all 1s ease;
  margin: inherit;
}
.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.accordion li.open .link {
  color: #b63b4d;
}
.accordion li.open i {
  color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  font-size: 14px;
}
.openSubMenu {
  display: block;
  padding-left: 15px;
}
.submenu li {
  border-bottom: 1px solid #4b4a5e;
}
.submenu a,
.modalLink {
  display: block;
  text-decoration: none;
  color: #343a40;
  padding: 12px;
  padding-left: 18px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu a:hover,
.modalLink:hover {
  background: hsla(230, 84%, 63%, 0.5);
  color: #0056b3;
}
body {
  background: #DDD;
  font-size: 15px;
}
#wrap {
  display: flex;
  position: relative;
  height: 60px;
  padding: 0px;
}
input[type="text"] {
  height: 40px;
  font-size: 55px;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding-left: 60px;
  width: 0px;
  position: absolute;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}
input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}
input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 60px;
  width: 60px;
  color: red;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  z-index: 2;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
/**
 * Mega Menu
 -----------------------------*/
mega-menu {
  position: absolute;
  top: 65px;
  left: 235px;
  display: none;
  background: #FFF;
}
mega-menu .modalContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius: 8px;
}
mega-menu .modalContainer .verticalLine {
  border-left: solid #4D4D4D;
  border-width: 1px;
}
mega-menu .modalContainer .mega1,
mega-menu .modalContainer .mega2,
mega-menu .modalContainer .mega3 {
  flex: 1;
  min-width: 270px;
  max-width: 320px;
  height: auto;
}
mega-menu .modalContainer .mega1 li,
mega-menu .modalContainer .mega2 li,
mega-menu .modalContainer .mega3 li {
  padding: 8px 16px;
}
mega-menu .modalContainer .mega1 li a,
mega-menu .modalContainer .mega2 li a,
mega-menu .modalContainer .mega3 li a {
  color: #3f6ad8;
}
mega-menu .modalContainer .mega1 li a:hover,
mega-menu .modalContainer .mega2 li a:hover,
mega-menu .modalContainer .mega3 li a:hover {
  color: #4D4D4D;
}
mega-menu.show {
  display: block;
}
/**
 * Setting
 -----------------------------*/
.settingModel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 240px;
  top: 65px;
  left: 470px;
  border-radius: 5px;
  position: absolute;
  display: none;
}
.settingModel.showSetting {
  display: block;
}
.settingModel .set1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 96px;
  background-image: url('https://raw.githubusercontent.com/DashboardPack/architectui-vue-theme-free/master/src/assets/images/dropdown-header/abstract2.jpg');
}
.settingModel h5 {
  font-weight: 500;
  font-size: 1.25rem;
  align-self: center;
  margin: 0px;
}
.settingModel h6 {
  font-size: 1rem;
  margin: 0px;
  align-self: center;
  margin-top: 5px;
}
.settingModel .set2 {
  width: 100%;
  display: flex;
}
.settingModel .set3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
}
.settingModel .cancelBtn {
  width: 80px;
  height: 20px;
  background-color: ;
  padding: 4px 16px;
  border: 1px;
  color: #fff;
  background-color: #b81f44;
  border-color: #ad1e40;
  align-self: flex-end;
  box-shadow: 0 0.125rem 0.625rem rgba(217, 37, 80, 0.5), 0 0.0625rem 0.125rem rgba(217, 37, 80, 0.6);
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
